<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Denon Volume.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Periphery.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftLint.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B03BD3F52194DD97004C350A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0CAAB4B1EBBC11100A1E8BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0CAAB5C1EBBC11200A1E8BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0CAAB671EBBC11200A1E8BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0EFE78A21F1E18300A3F483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
